.select {
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
        min-height: 25px;
    min-width: 100px;
 border: 1px solid #03081e;

}

.span {
 display: inline-block;
    min-width: 50px;
    min-height: 25px;

}

.div {
    display: none;
    padding: 5px;
    position: absolute;
    border: 1px solid #a856e3;
}
.select.active .div {
    display: block;
}

.item {

}

.item.selected {
    background-color: blue;
    color: white;
}